page-cagegory {
  .text-ios-light{
    color:#333;
  }
  .m-category .m-category-item{
    width: 48%;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
  }
  .m-category .m-category-item .item-ios{
    border-radius: 5px;
  }
  .m-category .m-category-item .item-ios.item-block .item-inner{
    border:none;
  }
}
