page-feedback {
  ul{
    margin:0;
    padding: 0;
  }
  li{
    list-style: none;
  }
  .feed-questions{
    position: relative;
  }
  .feed-questions p ion-icon{
    font-size: 2.6rem;
  }
  .feed-questions p{
    background: #fff;
    border-radius: 5px;
    padding: 4px 10px;
    margin:0;
    line-height: 2.5rem;
    text-align: center;
  }
  .feedback-area{
    margin-top: 1.8rem;
  }
  .feedback-area textarea{
    width: 100%;
    height: 10rem;
    border-radius: 5px;
    border:none;
  }
  .feed-questions ul{
    background: #fff;
    border-radius: 5px;
    padding-bottom: 20px;
    margin-top: 1px;
    position: absolute;
    left: 0;
    top:3.2rem;
    width: 100%;
  }
  .feed-questions ul li{
    line-height: 3rem;
    border-bottom: 1px solid #efefef;
    margin: 0 1rem;
  }
  .feed-add-img ion-icon{
    font-size: 5rem;
    color: #ccc;
    margin-top: 1rem;
  }
  .feed-add-img{
    background: #fff;
    border-radius: 5px;
    width: 8rem;
    height: 8rem;
    margin-top: 1.8rem;
    text-align: center;
  }
  .feed-add-img span{
    display: block;
  }
  .feedback-btn .toolbar-ios ion-title{
    background: orangered;
    border:none;
  }
  .feedback-btn .toolbar-title-ios{
    color: #fff;
  }
}
