ion-products {
  .clearfix:after{
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
  }
  .product-list-title{
    text-align: center;
    font-size: 16px;
    line-height: 2.2;
  }
  .list-order{
    float: right;
    background: #df5000;
    color: #fff;
    position: relative;
    box-sizing: content-box;
    padding: 10px;
    font-size: 1.4rem;
  }
  .list-order-price{
    display: block;
    text-align: center;
    border-radius: 10px;
    color: #df5000;
    background: #fff;
    padding: 2px;
    margin-top: 3px;
  }
  .m-list-grid .item{
    width: 50%;
    float: left;
    padding-left: 0px;
    background: none;
  }
  .m-list-grid2 .item{
    width: 50%;
    float: left;
    padding-left: 0px;
    background: none;
  }
  .m-list-grid2 .grid-list-inner{
    margin-left: 3px;
    margin-bottom: 5px;
    background: #fff;
    padding: 3px;
  }
  .item.item-block .item-inner{
    padding-right: 0;
  }
  .m-list-grid{
    margin:0 0 0 -5px;
  }
  .m-list-grid2{
    margin:8px 3px 0 0;
  }
  .m-list-grid .grid-list-inner{
    margin-left: 3px;
    margin-bottom: 5px;
    background: #fff;
  }
  .m-list-grid .label{
    margin:0;
  }
  .m-list-grid2 .label{
    margin:0;
  }
  .m-list-thumbnail{
    background: #fff;
  }
  .m-list-thumbnail .item p{
    overflow: initial;
  }
  .m-list-thumbnail .label{
    margin: 0;
  }
  .m-list-thumbnail h2{
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1.6rem;
  }
  .grid-list-inner .grid-img{
    height:14rem;
    overflow: hidden;
    position: relative;
  }
  .grid-list-inner .grid-img .grid-coupon-style{
    position: absolute;
    right: 0;
    bottom: 10px;
    color: #fff;
    font-size: 10px;
    background: hotpink;
    text-align: center;
    padding: 2px 3px;
  }
  .grid-list-inner .grid-img .grid-coupon-style .dashline{
    border-bottom: 1px dashed #fff;
  }
  ul{
    padding:0;
    margin:0;
    margin-top:6px;
    margin-right:4px;
  }
  li{
    list-style: none;
  }
  .m-video-list{

  }
  .m-video-list li{
    width:50%;
    float:left;
  }
  .m-video-img{
    height:14rem;
    overflow: hidden;
    position: relative;
  }
  .m-video-img span.m-video-coupon{
    position: absolute;
    bottom: 0.2rem;
    right:0;
    background: red;
    padding: 0 3px;
    color: #fff;
  }
  .m-video-img span.m-icon-video{
    background: url('../../assets/imgs/icon-video.png');
    background-size: 100%;
    width: 3.2rem;
    height: 3.2rem;
    position: absolute;
    top:50%;
    left: 50%;
    margin: -1.6rem 0 0 -1.6rem;
  }
  .m-video-list li .m-video-box{
    margin-left:4px;
    margin-bottom:4px;
    background: #fff;
    padding: 3px;
  }
  .m-video-list li .m-video-img{
    width: 100%;
  }
  .m-video-info h3{
    font-size: 1.4rem;
    color: #333;
    margin-top:8px;
    margin-bottom: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .m-video-info{
    padding-bottom: 0.4rem;
  }
  .m-video-info p{
    padding: 0;
    margin: 0;
    color: #999;
  }
  .grid-product-info{
    padding: 5px;
  }
  .grid-product-info h3{
    text-overflow: ellipsis;
    overflow:hidden;
  }
  .grid-product-info i,.m-video-info i{
    font-style: normal;
    font-size: 1.5rem;
  }
  .coupon-style{
    background: orangered;
    color: #fff;
    padding: 0px 10px;
    font-size: 1.4rem;
    border-top: 1px dashed #fff;
    border-bottom: 1px dashed #fff;
  }
  .bg-radius-orange{
    background: orangered;
    border-radius: 10px;
    color: #fff;
    font-size: 1rem;
    padding: 1px 5px;
  }
}
