<ion-toolbar no-border class="scrollable-segments">
  <ion-segment [(ngModel)]="segment">
    <ion-segment-button value="all">
      All
    </ion-segment-button>
    <ion-segment-button value="test">
      Recent
    </ion-segment-button>
    <ion-segment-button value="test2">
      Recent
    </ion-segment-button>
    <ion-segment-button value="test3">
      Recent
    </ion-segment-button>
    <ion-segment-button value="test4">
      Recent
    </ion-segment-button>
    <ion-segment-button value="test5">
      Recent
    </ion-segment-button>
    <ion-segment-button value="test6">
      Recent
    </ion-segment-button>
    <ion-segment-button value="test7">
      Recent
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>
