<!-- Generated template for the IonSlideContentComponent component -->
<ion-content class="fixed-content">
<!--  <div>{{catObj.id}}</div>
  &lt;!&ndash;通用一条竖列&ndash;&gt;
  <ion-list *ngSwitchCase="'indexList'" no-margin class="m-list-thumbnail">
    <ion-item *ngFor="let catDate of catList" (click)="goDetails(catDate)">
      <ion-thumbnail item-start>
        <img src="{{catDate.smallPic}}">
      </ion-thumbnail>
      <h2>{{catDate.goodsName}}</h2>
      <p><span item-start>天猫价:{{catDate.price}}元</span><span item-end>月销:{{catDate.sales}}</span></p>
      <h3>券后价:<span class="text-orange">{{catDate.endPrice}}元</span> <span class="bg-radius-orange">包邮</span></h3>
      <div class="list-order" clear item-end>下单立省 <span class="list-order-price">{{catDate.couponMoney}}</span></div>
    </ion-item>
  </ion-list>-->

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
