page-create-playbill {
  .fixed-content{
    background: #fff;
  }
  li{
    list-style: none;
  }
  ul{
    margin:0;
    padding: 0;
  }
  .m-search-input{
    width: 82%;
    height: 38px;
  }
  .searchbar-ios .searchbar-input{
    height:32px;
  }
  .search-btn{
    width: 16%;
    height: 32px;
  }
  .search-hot-title{
    padding:3px 10px;
    background: #efefef;
  }
  .search-hotwords{
    background: #fff;
    padding: 10px;
  }
  .search-hotwords ul li{
    display: inline-block;
    background: #666;
    padding: 2px;
    color: #fff;
    margin-right: 8px;
  }
  .history-search-list{
    padding: 0 16px;
  }
  .history-search-list li{
    padding: 2px 10px;
    line-height: 2.2rem;
    border-bottom: 1px solid #efefef;
  }
}
