page-setting {
  .head-box{
    width: 5.2rem;
    height: 5.2rem;
    background: #efefef;
    display: block;
  }
  .head-box img{
    width: 5.2rem;
    height: 5.2rem;
    border-radius: 5px;
  }


}
