page-create-share {
  ul{
    margin:0;
    padding: 0;
  }
  li{
    list-style: none;
  }
  ion-scroll{
    height: 39rem;
    background: #fff;
  }
  .radio-ios{
    background: #ccc;
    border-radius: 50%;
    padding: 0 .25rem;
  }
  .m-playbill{
    padding: 10px;
    width:calc(20.4rem * 5);
  }
  .m-playbill li{
    width: 19rem;
    float: left;
    margin-right: 1rem;
    text-align: center;
  }
  .m-playbill li img{
    border-radius: 5px;
    margin-bottom: 1rem;
  }

}
